@import '@styles/index.scss';

.wrapper {
  margin: 0 2rem;
  animation: 0.6s ease-in-out moveToUp;

  @keyframes moveToUp {
    from {
      opacity: 0;
      transform: translateY(10%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .wrapper__header {
    margin: 18rem 0 0;
    font-size: 6rem;
    line-height: calc(6rem * 1.5);
    color: map-get($colors, black);
    font-family: $general-sans-medium;
    font-weight: 400;
    letter-spacing: 0.03rem;
    text-decoration: none;
    text-transform: uppercase;
    cursor: auto;

    @media screen and (max-width: 576px) and (min-width: 0px) {
      font-size: 3rem;
      line-height: calc(3rem * 1.2);
    }

    @media screen and (max-width: 1024px) and (min-width: 577px) {
      font-size: 4rem;
      line-height: calc(4rem * 1.2);
    }
  }

  .wrapper__line {
    width: 100%;
    height: 3px;
    background-color: map-get($colors, black);
  }

  .wrapper__content {
    margin: 4rem 0 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    @media screen and (max-width: 1024px) and (min-width: 0px) {
      display: block;
    }

    .card__work {
      width: 100%;

      @media screen and (max-width: 1024px) and (min-width: 0px) {
        display: block;
        margin: 2rem 0;
      }

      .card__work_image {
        width: 100%;
      }

      .card__work_content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card__work_header,
        .card__work_date {
          font-size: 1.4rem;
          line-height: calc(1.4rem * 1.5);
          color: map-get($colors, black);
          font-family: $general-sans-medium;
          font-weight: 400;
          letter-spacing: 0.03rem;
          text-decoration: none;
          cursor: auto;
        }
      }
    }
  }
}
