@import '@styles/index.scss';

.nav {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .nav__container {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav__brand,
    .nav__link {
      color: #1d1d1d;
      font-family: $general-sans-medium;
      font-weight: 400;
      letter-spacing: 0.03rem;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      z-index: 1;
    }

    .nav__brand {
      font-size: 10rem;
      line-height: calc(10rem * 1.5);
      animation: .6s ease-in-out moveToLeft;

      @media screen and (max-width: 576px) and (min-width: 0px) {
        font-size: 4rem;
        line-height: calc(4rem * 1.5);
      }
  
      @media screen and (max-width: 1024px) and (min-width: 577px) {
        font-size: 7rem;
        line-height: calc(7rem * 1.5);
      }

      sup {
        font-size: 4rem;
        line-height: calc(4rem * 1.5);
        vertical-align: super;

        @media screen and (max-width: 576px) and (min-width: 0px) {
          font-size: 2rem;
          line-height: calc(2rem * 1.5);
        }

        @media screen and (max-width: 1024px) and (min-width: 577px) {
          font-size: 3rem;
          line-height: calc(3rem * 1.5);
        }
      }

      @keyframes moveToLeft {
        from {
          opacity: 0;
          transform: translateX(10%);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }

    .nav__inner {  
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      svg {
        padding: 0 .5rem;
        height: 3rem;
        line-height: calc(3rem * 1.5);
        transition: transform 0.6s;
        color: #1d1d1d;
        z-index: 1;

        @media screen and (max-width: 576px) and (min-width: 0px) {
          height: 2rem;
          line-height: calc(2rem * 1.5);
        }
      }

      &:hover svg {
        transform: rotate(180deg);
        transition: transform 0.6s;
      }

      &:hover .inner .inner__link {
        transform: translateY(-100%);
      }

      .inner {
        display: inline-flex;
        height: calc(3rem * 1.5);
        overflow: hidden;
        flex-direction: column;
        line-height: calc(3rem * 1.5);
        position: relative;
        z-index: 1;

        @media screen and (max-width: 576px) and (min-width: 0px) {
          height: calc(2rem * 1.5);
          line-height: calc(2rem * 1.5);
        }

        .inner__link {
          transform: translateY(0);
          transition: transform 0.6s;

          .nav__link {
            font-size: 3rem;
            line-height: calc(3rem * 1.5);

            @media screen and (max-width: 576px) and (min-width: 0px) {
              font-size: 2rem;
              line-height: calc(2rem * 1.5);
            }
          }
        }
      }
    }

    .nav__dropdown {
      width: 100%;
      height: 80%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      transform: translateY(-110%);
      transition: transform 0.6s;
      background-color: #e9e9e9;

      @media screen and (max-width: 576px) and (min-width: 0px) {
        height: 45%;
      }

      @media screen and (max-width: 1024px) and (min-width: 577px) {
        height: 55%;
      }

      @media screen and (max-width: 1600px) and (min-width: 1367px) {
        height: 85%;
      }

      .nav__list {
        margin: 0 1rem;
        width: 100%;

        .list__item {
          list-style: none;
          list-style-type: none;

          .list__link {
            display: flex;
            justify-content: flex-end;
            color: transparent;
            -webkit-text-stroke: .15rem #1d1d1d;
            font-family: $general-sans-medium;
            font-size: 9rem;
            line-height: calc(9rem * 1);
            font-weight: 400;
            letter-spacing: 0.03rem;
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
              color: #1d1d1d;
              filter: drop-shadow(.1rem .1rem .1rem #1d1d1d);
            }

            @media screen and (max-width: 576px) and (min-width: 0px) {
              font-size: 3rem;
              line-height: calc(3rem * 1);
              -webkit-text-stroke: .1rem #1d1d1d;
            }

            @media screen and (max-width: 1366px) and (min-width: 576px) {
              font-size: 6rem;
              line-height: calc(6rem * 1);
            }

            @media screen and (max-width: 1600px) and (min-width: 1367px) {
              font-size: 8rem;
              line-height: calc(8rem * 1);
            }

            svg {
              height: 9rem;

              @media screen and (max-width: 576px) and (min-width: 0px) {
                height: 3rem;
              }

              @media screen and (max-width: 1366px) and (min-width: 576px) {
                height: 6rem;
              }

              @media screen and (max-width: 1600px) and (min-width: 1367px) {
                height: 8rem;
              }
            }
          }
        }
      }
    }
  }
}
