@import '@styles/index.scss';

.wrapper {
  margin: 0 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  animation: .6s ease-in-out moveToUp;

  @keyframes moveToUp {
    from {
      opacity: 0;
      transform: translateY(10%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media screen and (max-width: 1024px) and (min-width: 0px) {
    display: block;
  }

  .wrapper__content {
    width: 100%;

    .content__line {
      width: 95%;
      height: .2rem;
      background-color: map-get($colors, black);

      @media screen and (max-width: 1024px) and (min-width: 0px) {
        width: 100%;
      }
    }

    .content__header,
    .content__text {
      max-width: 880px;
      color: map-get($colors, black);
      font-family: $satoshi-bold;
      font-weight: 400;
      letter-spacing: $letter-spacing;
      text-decoration: none;
      cursor: auto;

      @media screen and (max-width: 576px) and (min-width: 0px) {
        max-width: 340px;
      }

      @media screen and (max-width: 1024px) and (min-width: 577px) {
        max-width: 580px;
      }

      @media screen and (max-width: 1366px) and (min-width: 1025px) {
        max-width: 620px;
      }

      @media screen and (max-width: 1601px) and (min-width: 1367px) {
        max-width: 700px;
      }
    }

    .content__header {
      font-size: 6rem;
      line-height: calc(6rem * 1.5);
      text-transform: uppercase;

      @media screen and (max-width: 1024px) and (min-width: 0px) {
        font-size: 3.55rem;
        line-height: calc(3.55rem * 1.5);
      }
    }

    .content__text {
      margin: 24rem 0;
      font-size: 2.4rem;
      line-height: calc(2.4rem * 1.5);
      text-align: justify;

      &:last-child {
        margin: 16rem 0;
      }

      @media screen and (max-width: 576px) and (min-width: 0px) {
        margin: 16rem 0;
        text-align: left;
      }

      @media screen and (max-width: 1024px) and (min-width: 0px) {
        margin: 16rem 0;
        font-size: 1.8rem;
        line-height: calc(1.8rem * 1.5);
      }

      @media screen and (max-width: 1366px) and (min-width: 1025px) {
        margin: 16rem 0;
        font-size: 1.8rem;
        line-height: calc(1.8rem * 1.5);
      }

      @media screen and (max-width: 1601px) and (min-width: 1367px) {
        font-size: 2rem;
        line-height: calc(2rem * 1.5);
      }
    }

    .content__image {
      width: 100%;
      aspect-ratio: 9/16;
    }
  }
}