@import '../variables/all';

html, body {
  -webkit-background-color: map-get($colors, white);
  background-color: map-get($colors, white);
  color: map-get($colors, black);
  letter-spacing: $letter-spacing;
  font-family: $general-sans-medium;
}

::selection {
  color: map-get($colors, black);
  background-color: map-get($colors, blue);
}

::-webkit-scrollbar {
  display: none;
}